<h3>Add a new retro</h3>

<form>
{{view Ember.TextField valueBinding="newRetroName"}}
<input type="submit" class="btn btn-primary" value="Add" {{action addRetro}}>
</form>
<ul>
  {{#each controller}}
    <li>
      {{name}}
    </li>
  {{/each}}
</ul>
