@import "bootstrap";
body {
  padding-top: 60px;
  font-family: "Comic Sans MS";
}
@import "bootstrap-responsive";

.span12 textarea {
  width: 99%;
}

.conn_btn {
  float: right;
  margin-left: 2px;
}

h1 {
  text-align: center;
}