// Place all the styles related to the Remarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.connotation_column {
  //display:inline-block;  
  vertical-align:top;
  padding: 10px;
}

.connotation_table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.padded {
  border-collapse: separate;
  border-spacing:10px;
}

.rounded {
  border-radius: 15px;

}

.bg-opaque {
  background-color: rgba(255, 255, 255, 0.6)
}

.title {
  font-weight: bold;
}


#positive {
  background-color: #CCFF99
}

#neutral {
  background-color: #FFFFCC
}

#negative {
  background-color: #FF9999
}