<table class="remarks">
  <% @remarks.each do |remark| %>
    <tr>
      <td><%= remark.title %></td>
      <td><%= link_to  "Delete", remark_path(remark), :method => :delete %></td>
    </td>
  <% end %>
</table>

<%= link_to "Add a remark", new_remark_path %>
