<table class="remarks" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <% if @remarks.count > 0 then %>
      <% @remarks.each do |remark| %>
          <tr>
            <td><%= remark.title %></td>
            <td><%= link_to "Delete", remark_path(remark), :method => :delete %></td>
            <td><%= link_to "Edit", edit_remark_path(remark) %></td>
      <% end %>
  <% else %>
     There are no remarks in this retrospective
      <br>
      <br>
  <% end %>
</table>

<%= link_to "Add a remark", new_remark_path %>
